{% extends 'base.html' %} {% block content %}

<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Pinjam<span>Buku</span> Page</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Link</a>
                </li>
            </ul>
            <h5>Welcome, {{name}}!</h5>
        </div>
    </div>
</nav>


<div id="product_cards"></div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Add New Book</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="form" onsubmit="return false;">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="name" class="col-form-label">Name:</label>
                        <input type="text" class="form-control" id="name" name="name"></input>
                    </div>
                    <div class="mb-3">
                        <label for="amount" class="col-form-label">Amount:</label>
                        <input type="number" class="form-control" id="amount" name="amount"></input>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="col-form-label">Description:</label>
                        <textarea class="form-control" id="description" name="description"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="button_add" data-bs-dismiss="modal">Add Book</button>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Add New Book</button>


<br />>

<div class="button-container text-center">
    <!-- <a href="{% url 'main:create_book' %}" class="btn btn-primary btn-sm">
        Add New Book
    </a> -->
    <a href="{% url 'main:logout' %}" class="btn btn-danger btn-sm"> Logout </a>
</div>

<br />

<div class="d-flex justify-content-center align-items-center">
    <h5>Last Login Session: {{ last_login }}</h5>
</div>

<script> 
async function getProducts() {
    return fetch("{% url 'main:get_product_json' %}").then((res) => res.json())
}
async function refreshProducts() {
    // document.getElementById("product_cards").innerHTML = '';
    const products = await getProducts();
    let htmlString = ''
    products.forEach((item) => {
        htmlString += `
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Book Name: ${item.fields.name}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Amount: ${item.fields.amount}</h6>
                    <p class="card-text">Description: ${item.fields.description}</p>
                    <button class="btn btn-danger" onclick="deleteBook('${item.pk}')">Delete</button>
                </div>
            </div>
        `;
    });
    document.getElementById("product_cards").innerHTML = htmlString;
}
window.onload = function(){
    refreshProducts()
}

async function addProduct() {
        await fetch("{% url 'main:add_product_ajax' %}", {
            method: "POST",
            body: new FormData(document.querySelector('#form'))
        }).then(refreshProducts)
        document.getElementById("form").reset()
        return false
    }
document.getElementById("button_add").onclick = addProduct

function deleteBook(bookId){
    const formData = new FormData()
    formData.append('id', bookId)
    fetch("{% url 'main:delete_product_ajax' %}", {
        method: "POST",
        body: formData
    }).then(refreshProducts)
    return false
}
</script>
</body>

{% endblock content %}